nav {
    height: 140px;
    width: 1fr;
    background-color: rgba(210, 184, 245, 0.473);
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    
}

a {
    text-decoration: none;
    color: rgb(37, 37, 97);
    font-weight: bolder;
    font-size: large;
   
    
}

.logo {
    width: 15%;
    
}